.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: white;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.cointainer{
    max-width: 80vw;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}

.font-col{
    flex-direction: column;
}
.font-bold{
    font-weight: 900;
}
.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}
.my-2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.px-2{
    padding-left: 13px;
   padding-right: 13px;
}
.text-blue{
    color: rgb(29, 88, 214);
}
.btn{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(88, 184, 206);
}
.dumbleimg{
    width: 180px;
}
.text-center{
    text-align: center;
}
.pricebox{
    color: black;
    text-shadow: 2px 2px red;
}
.fillcolor{
    color: red;
    text-shadow: 3px 3px blue;
}